body 
{
    margin:auto;
    padding:16x;
    text-align: center;
    background-color: black;
    color:aliceblue;
}

img 
{
    margin: 10px;
}

ul
{
    margin-left: 20px;
}

.box
{
    text-align: center;
    background: rgb(77, 95, 65);
    border: 2px solid gray;
    border-radius: 9px;
    padding: 10px;
    width: 80%;
    margin: 15px auto;
    max-width: 600px;
}

footer
{
    text-align: center;
    color:aqua;
}